.bold {
  font-weight: bold;
}

.aboutWrapper a {
  color: var(--light-coral);
}

.introduction h2 {
  font-size: 3em;
}

.aboutWrapper {
  display: grid;
  grid-template-columns: 40% auto;
  grid-gap: 10%;
}

.aboutImg {
  width: 50%;
  justify-self: center;
}

@media only screen and (max-width: 600px) {
  .aboutWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2% 0%;
  }
}
