.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  align-items: center;
  min-height: 70vh;
}

.header h2 {
  font-size: 4em;
}

.header h3 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 20px;
}

.header span {
  border-bottom: var(--light-coral) 4px solid;
  width: 60px;
  display: block;
}

.works {
  min-height: 100vh;
}

.title {
  -webkit-text-stroke: 2px var(--primary-text-color);
  -webkit-text-fill-color: white;
  color: var(--primary-text-color);
  font-size: 7em;
  text-align: right;
}

.about {
  min-height: 50vh;
}
