.portfolio {
  text-align: center;
}

.portfolio > h2 {
  font-size: 5em;
  margin-top: 80px;
  -webkit-text-stroke: 2px var(--primary-text-color);
  -webkit-text-fill-color: white;
  color: var(--primary-text-color);
}

.portfolio > h3 {
  font-size: 2em;
  font-weight: 400;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin: 80px 20px;
}

.projects h3 {
  text-align: center;
  margin: 20px auto 0;
  font-weight: 500;
}

.projects p {
  color: #9ea9b0;
  margin-top: 4px;
}

.projectImg {
  width: 300px;
  height: 200px;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
