.portfolio {
  text-align: center;
}

.portfolio > h2 {
  font-size: 5em;
  margin-top: 80px;
  -webkit-text-stroke: 2px var(--primary-text-color);
  -webkit-text-fill-color: white;
  color: var(--primary-text-color);
}

.portfolio > h3 {
  font-size: 2em;
  font-weight: 400;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem 2rem;
  margin: 5rem 2rem;
  justify-items: center;
}

.projects h3 {
  text-align: center;
  margin: 20px auto 0;
  font-weight: 500;
  padding: 0 20px;
}

.projects p {
  color: #9ea9b0;
  margin-top: 4px;
}

.projectImg {
  width: 100%;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: var(--radius);
  transition: var(--transition);
  box-shadow: var(--light-shadow);
  height: 400px;
  width: 480px;
}

.card:hover {
  box-shadow: var(--dark-shadow);
  transform: translateY(-4px);
}

@media only screen and (max-width: 1440px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }

  .card {
    width: 380px;
  }
}

@media only screen and (max-width: 800px) {
  .portfolio h3 {
    font-size: 1.5rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .card {
    width: 380px;
  }
}
